<form method="POST">
    {{!-- <divid="map-container"></div> --}}
    
    <label for="name-input">Place Name</label>
    <input require id="name-input" type="text" name="name" placeholder="Place Name">

    <label for="type-input">Choose a type of place:</label>
    <select require name="type" id="type-input">
        <option value="">--Please choose an option--</option>
        <option value="coffee_shop">Coffee Shop</option>
        <option value="bookstore">Bookstore</option>
    </select>

    <button>Create Place</button>


</form>