<form method="POST">
    
    <label for="edit-name-input">Edit Place Name</label>
    <input require id="edit-name-input" type="text" name="edit">

    <label for="type-input">Choose a different type of Place, if you want:</label>
    <select require name="type" id="type-input">
        <option value="">--Please choose an option--</option>
        <option value="coffee_shop">Coffee Shop</option>
        <option value="bookstore">Bookstore</option>
    </select>

    </br>

    <button>Edit Place</button>


</form>