<h1>This is a list of all places in the database</h1>
<ul>
{{#each places}}
<li>
    <a href="/place/{{ _id }}">
        <h4>{{ name }}</h4>
    </a>
  </li>
{{/each}}
</ul>
        {{!-- <span>Latitude: {{ location.coordinates.[1] }} Longitude: {{ location.coordinates.[0] }}</span> --}}